on:  [pull_request]
name: ci
jobs:
  getdate:
    name: get date
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: getdate
        run: echo "::set-output name=date::$(date +'%y%m%d')"
    outputs:
      date: ${{ steps.getdate.outputs.date }}
  build:
    name: build
    runs-on: ubuntu-latest
    needs: getdate
    strategy:
      fail-fast: false
      matrix:
        pingaccess-version: [ 6.2.2, 6.3.3, 7.0.3 ]
    services:
      pingaccess:
        image: pingidentity/pingaccess:${{ matrix.pingaccess-version }}-edge
        env:
          PING_IDENTITY_ACCEPT_EULA: YES
          IMAGE_VERSION: pingaccess-alpine-az11-${{ matrix.pingaccess-version }}-${{ needs.getdate.outputs.date }}-b5f4
          PING_IDENTITY_DEVOPS_USER: ${{ secrets.PING_IDENTITY_DEVOPS_USER }}
          PING_IDENTITY_DEVOPS_KEY: ${{ secrets.PING_IDENTITY_DEVOPS_KEY }}
          TAIL_LOG_PARALLEL: "y"
          TAIL_LOG_FILES: "/opt/out/instance/log/pingaccess.log /opt/out/instance/log/pingaccess_api_audit.log"
        ports:
          - 9000:9000
    env:
      GO111MODULE: on
    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
      id: go

    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: false
        terraform_version: 1.0.11

    - name: Test
      run: |
        TF_ACC=1 go test -mod=vendor ./... -v -trimpath -coverprofile=coverage.out
        go tool cover -func=coverage.out

    - name: Container logs
      if: ${{ failure() }}
      run: |
        docker ps
        docker logs "${{ job.services.pingaccess.id }}"

    - name: SonarCloud Scan
      if: ${{ matrix.pingaccess-version == '6.2.2' }}
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
